doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Comet
    link(rel="stylesheet", href="css/styles.css")
  body
    .stars
    .planet-1
    .planet-2
    .planet-3
    .planet-4
    .comet
      .long-tail
      .short-tail
      .core
  